<div class="camerasList">
    <h1>Камеры: {{address}}</h1>
    {% if cameras %}
    <div class="camerasList__list">
        {% for camera in cameras %}
        <div class="camerasList__list__item" unicorn:key="{{ camera.uuid }}">
            <div id="{{ camera.uuid }}" style="height: 250px"></div>
            <script type="text/javascript">
                WowzaPlayer.create('{{ camera.uuid }}',
                    {
                    "license": "{{ playerLicence }}",
                    "title":"{{ camera.description }}",
                    "description":"_",
                    "sourceURL":"{{camerasHost}}/live/{{ camera.uuid }}/playlist.m3u8",
                "autoPlay":false,
                    "volume":"75",
                    "mute":false,
                    "loop":false,
                    "audioOnly":false,
                    "uiShowQuickRewind":true,
                    "uiQuickRewindSeconds":"30"
                    }
                );
                </script>
        </div>
        {% endfor %}
    </div>
    {% endif %}
</div>
