<div>
    <div class="camerasList">
        <h1>Площадки</h1>
        <input class="camerasList__search-input" unicorn:model="state" placeholder="Поиск" id="state-name" type="text">
        {% regroup addresses by city_id.city_name.0 as city_list %}
        
        <div class="camerasList__city">
            {% for item in city_list %}
            <div class="city_element">
                <div class="litera">{{item.grouper}}</div>
                <div class="camerasList__city__address">
                    {% for city in item.list %}
                    <div>
                        <a href="/cameras/list/{{city.id}}">
                            <b>{{city.city_id}}</b> {{city.address}}
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
        
    </div>
</div>
