asgiref==3.3.1
beautifulsoup4==4.9.3
cachetools==4.2.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.7
django-appconf==1.0.4
django-compressor==2.4
django-htmlmin==0.11.0
django-sass-processor==0.8.2
django-unicorn==0.21.2
docopt==0.6.2
html5lib==1.1
htmlmin==0.1.12
idna==2.10
libsass==0.20.1
orjson==3.5.0
pipreqs==0.4.10
pytz==2021.1
rcssmin==1.0.6
requests==2.25.1
rjsmin==1.1.0
shortuuid==1.0.1
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
urllib3==1.26.3
webencodings==0.5.1
wrapt==1.12.1
yarg==0.1.9
